body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
    code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #E5B14C;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .sidebar ul {
    background-color: #DDA231;
    list-style: none;
    padding: 5;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #000;
  }
  
  .sidebar a:hover {
    color: #ff6600;
  }

  .TopNav u1{
    list-style-type: none;
  }